@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Special+Elite&display=swap');

:root {
  --background-color: hsl(240 9.375% 9.375%);
  --text-color: #fff;
  --link-color: hsl(60 84.375% 56.25%);
  --border-color: hsl(240 9.375% 28.125%);
  --header-color: hsl(225 9.375% 18.75%);
  --sidebar-color: hsl(225 9.375% 18.75%);
  --main-color: hsl(225 9.375% 18.75%);
  --footer-color: hsl(225 9.375% 18.75%);
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color); 
  color: var(--text-color);
  font-family: "Special Elite", system-ui, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.template {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
}

hgroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

h1,
h2 {
  font-weight: 700;
  line-height: 1.125;
}

h1 {
  font-family: "Black Ops One", system-ui, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}

h2 {
  font-family: "Black Ops One", system-ui, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

h3 {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

p {
  letter-spacing: 1px;
}

.subtitle {
  font-size: 1.125rem;
}

.small {
  font-size: 0.75em;
}

.text-center {
  text-align: center;
}

ul {
  list-style: none;
  margin-bottom: 1rem;
}

ul:last-child {
  margin-bottom: 0;
}

header {
  background-color: var(--header-color);
  border: 2px solid var(--border-color);
  border-radius: 4px;
  grid-area: header;
  margin: 1rem;
  padding: 1rem;
}

main {
  background: url("../images/foto.png") no-repeat 33.3333% center / auto 87.5%;
  grid-area: main;
}

main ul {
  list-style: inside;
}

main p { 
  margin-bottom: 1rem;
}

main li { 
  margin-bottom: 0.5rem;
}

main p:last-child,
main li:last-child {
  margin-bottom: 0;
}

section {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

section > div {
  border-left: 2px solid var(--border-color);
  padding-left: 1rem;
}

footer {
  background-color: var(--footer-color);
  border: 2px solid var(--border-color);
  border-radius: 4px;
  grid-area: footer;
  margin: 1rem;
  padding: 1rem;
}

.icon-group {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin: 0.5rem 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

svg {
  fill: currentColor;
  height: 1.25rem;
  width: auto;
  transition: all 250ms ease-out;
}

@media only screen and (min-width: 768px) {
  .template {
    padding: 1rem;
  }

  section {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }

  svg:hover {
    transform: scale(1.25);
  }
}
