html {
  font-size: 16px;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color-primary);
  color: var(--color-primary);
  font-family: var(--font-family-body);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body);
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

hr {
  background-color: var(--border-color);
  display: block;
  height: 1px;
  margin: var(--spacing-large) 0;
}
