@font-face {
  font-family: "Inter";
  src: local("Inter"), url("../fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype-variations");
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  src: local("Inter Tight"), url("../fonts/InterTight-VariableFont_wght.ttf") format("truetype-variations");
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("../fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype-variations");
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  src: local("Inter Tight"), url("../fonts/InterTight-Italic-VariableFont_wght.ttf") format("truetype-variations");
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

h1 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
  letter-spacing: 1px;
  line-height: var(--line-height-title);
  margin-bottom: var(--spacing-small);
  text-transform: uppercase;
}

h2 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  letter-spacing: 1px;
  line-height: var(--line-height-title);
  margin: var(--spacing-large) 0 var(--spacing-small);
  text-transform: uppercase;
}

h3 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-medium);
  letter-spacing: 1px;
  line-height: var(--line-height-title);
}

p,
ol,
ul {
  margin-bottom: var(--spacing);
}

p:last-child,
ol:last-child,
ul:last-child {
  margin-bottom: 0;
}

sup,
.text-small,
li[id^="fn"] {
  font-size: var(--font-size-small);
}

strong,
.text-bold {
  font-weight: var(--font-weight-bold);
}

em,
.text-italic {
  font-style: italic;
}

a {
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 330ms ease-out;
}

a:any-link {
  color: var(--text-color-link);
}

ol,
ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
}

li {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

blockquote {
  background-color: var(--background-color-secondary);
  border-left: 2px solid var(--text-color-secondary);
  display: flex;
  font-size: var(--font-size-small);
  font-style: italic;
  margin-bottom: var(--spacing-large);
  padding: 0.5rem 1rem;
  text-align: initial;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-secondary {
  color: var(--text-color-secondary);
}
