:root {
  --container-width: 1200px;

  --background-color-primary: lch(100% 6.25 270);
  --background-color-secondary: lch(87.5% 6.25 270);

  --color-primary: lch(18.75% 6.25 270);
  --color-secondary: lch(37.5% 6.25 270);
  --color-link: lch(50% 75 270);

  --font-size-h1: 2rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.125rem;
  --font-size-body: 1rem;
  --font-size-small: 0.875rem;

  --font-family-heading: "Inter Tight", "Inter", sans-serif;
  --line-height-heading: 1.3333;

  --font-family-body: "Inter", sans-serif;
  --line-height-body: 1.6667;

  --font-family-monospace: monospace;

  --font-weight-bold: 700;
  --font-weight-bolder: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;

  --spacing-large: 2rem;
  --spacing-regular: 1rem;
  --spacing-small: 0.5rem;
  --spacing-xsmall: 0.25rem;

  --border-color: lch(75% 6.25 270);

  --transition-duration: 330ms;
}
