#footer {
  background-color: var(--background-color-secondary);
  padding: 2rem 0;
}

#footer h2 {
  margin-top: 0;
}

#footer a:any-link {
  color: var(--color-secondary);
  font-weight: 600;
}

#footer a:hover {
  color: var(--color-primary);
}
