<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow" />
    <title>$title$</title>
    <meta name="description" content="$description$" />
    <link rel="preload" href="/assets/styles/style.min.css" as="style" />
    <link rel="preload" href="/assets/fonts/Inter-VariableFont_opsz,wght.ttf" as="font" type="font/ttf" crossorigin />
    <link rel="preload" href="/assets/fonts/InterTight-VariableFont_wght.ttf" as="font" type="font/ttf" crossorigin />
    <link href="/assets/styles/style.min.css" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
      <div class="container text-center">
        <h1 class="">$title$</h1>
        <p class="text-italic">$description$</p>
      </div>
    </header>
    <main class="section">
      <div class="container">
        $body$
      </div>
    </main>
    <footer class="footer">
      <div class="container text-center text-small">
        <h2 class="text-small">Acompanhe-me</h2>
        <a href="https://www.instagram.com/calisteniaepesos/">📲 Instagram</a>
        <hr />
        <p>Rob Niemeyer, 2025</p>
      </div>
    </footer>
    <script src="/assets/scripts/main.js"></script>
  </body>
</html>
