<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow" />
    <title>$title$</title>
    <meta name="description" content="$description$" />
    <link rel="preload" href="/assets/styles/style.min.css" as="style" />
    <link rel="preload" href="/assets/fonts/Inter-VariableFont_opsz,wght.ttf" as="font" type="font/ttf" crossorigin />
    <link rel="preload" href="/assets/fonts/InterTight-VariableFont_wght.ttf" as="font" type="font/ttf" crossorigin />
    <link href="/assets/styles/style.min.css" rel="stylesheet" />
  </head>
  <body>
    <header id="header" class="header">
      <div class="container text-center">
        <a href="/">Início</a>
        <hgroup>
          <h1 class="">$title$</h1>
          <p>$description$</p>
        </hgroup>
      </div>
    </header>
    <main class="section">
      <div class="container">
        <figure>
          <img src="/assets/images/$image_filename$.webp" alt="$image_alt$" />
          <figcaption>[ Fonte: $image_source$ ]</figcaption>
        </figure>        
        $body$
      </div>
      <section>
        <div class="container text-center">
          <a href="#header">Voltar ao topo</a>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container text-center text-small">
        <a href="https://www.instagram.com/robson.niemeyer/">📲 Acompanhe-me no Instagram</a>
        <p>Rob Niemeyer, 2025</p>
      </div>
    </footer>
    <script src="/assets/scripts/main.js"></script>
  </body>
</html>
