/**
 * nav
 */

#navbar {
  background-color: var(--background-color-secondary);
  text-transform: uppercase;
}

#navbar a:any-link {
  color: var(--color-secondary);
}

#navbar a:hover {
  color: var(--color-primary);
}

/**
 * button
 */

button {
  background-color: var(--color-link);
  border: 1px solid var(--color-link);
  color: var(--background-color-primary);
  cursor: pointer;
  font-family: var(--font-family-heading);
  font-weight: 500;
  letter-spacing: 1px;
  line-height: var(--line-height-heading);
  padding: 0.25rem 0.5rem;
  transition: all var(--transition-duration) ease-out;
}

button:hover {
  opacity: 0.875;
}

.btn-icon {
  align-items: center;
  display: flex;
  gap: 0.25rem;
}

/**
 * card
 */

.card {
  background-color: var(--background-color-secondary);
  margin-bottom: 1rem;
  padding: 1rem;
}

/**
 * image
 */

figure {
  background-color: var(--background-color-secondary);
  height: 0;
  margin-bottom: 1rem;
  padding-top: 75%;
  position: relative;
}

figcaption {
  color: var(--color-secondary);
  font-size: var(--font-size-small);
  position: absolute;
  top: 100%;
}

img {
  display: block;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

svg {
  fill: currentColor;
  height: var(--font-size-small);
  width: auto;
}

@media only screen and (min-width: 768px) {
  figure {
    padding-top: 37.5%;
  }
}

/**
 * input
 */

input {
  background-color: var(--background-color-primary);
  border: 1px solid var(--border-color);
  line-height: var(--line-height-heading);
  padding: 0.25rem 0.5rem;
}

.input-group > p {
  display: flex;
}
