
figure {
  height: 0;
  padding-top: 75%;
  position: relative;
}

figcaption {
  color: var(--color-secondary);
  font-size: var(--font-size-small);
}

img {
  display: block;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  figure {
    padding-top: 37.5%;
  }
}
